<br><br><br>
<img src="<%= User.find(params["name"]).user_img_url %>">
<h3><%= "#{User.find(params["name"]).name.titleize}'s Bucketlist:"%></h3>
<br>

<%= 'List is empty.' if @user_todos.empty?  %>

<% @user_todos.each do |todo| %>

  <img src="<%= todo.image %>" height="90" width="90"><%= link_to  todo.name, "/users_with_this_todo/#{todo.id}"  %>

<br>
<% end %>
<br><br>

