<body STYLE="background-image: url(c4.jpg)" width= 20%, height= 15px>text</body>






<div id='background_img'>
  <%#<body STYLE="background-image: url(c4.jpg)" width= 20%, height= 15px>text</body>%>
</div>
<div class="site_headline">




<script>
    $(function(){
        $(".element").typed({
            // Waits 1000ms after typing "First"
            strings: ["Don't just live your life.^500", "Live your dreams^50000", "Else die alone.^5000"]
        });
    });
</script>

<h1><span class="element"></span><h1>


  <h4><%= User.count %> Members are tracking over <%= Todo.count %> Goals</h4>

  <br>
  <% if !current_user %>
  <a href="/auth/guest_login"  class="btn btn-primary">Demo Login</a>
  <% end %>
  <div>

  <% if flash['alert'] %>
    <div class="alert"><div id='red'><%= flash['alert'] %></div></div>
  <% end %>

<div class="container">
  <div class="row">

    <div id="content" class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <%= form_tag("/search", :method => "get", :enforce_utf8 => false) do %>
        <div class="field">
          <%= text_field_tag :name, nil, {:placeholder => 'What do you want to do?', :size => 60 } %>
        </div>
      <% end %>
      <div class="error"><%= @error if @error %></div>
    </div><!-- #content -->
  </div><!--.row -->
</div>




