<br>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>

var num_completed = <%= @num_completed %>;
var num_incomplete = <%= @num_incomplete %>;

// Pie Chart JS -------------------------------------------
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Todos',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Todos',
            innerSize: '50%',
            data: [
              ['',       0],
            ['',       0],
                ['Completed',   num_completed],
                ['Incomplete',       num_incomplete]
            ]
        }]
    });
});
// END OF PIE CHART CODE-------------------------------------
</script>

<div id="my_list">
  <p id='notice'>
  <%=flash[:notice]%>
  </p>
  <%=  flash[:notice] %><br><br>
  <%= 'No items have been added to your list' if @my_todos.empty?%>
   <br>


  <hr>
  <h2>INCOMPLETE</h2>
  <br><br>

  <div class="container">
   <div class="row">
    <% @my_todos.each do |todo| %>
      <div class="col-md-3">
        <% if todo.user_todos.where(:user_id => current_user.id).first.finished == false %>
          <div id="image_tag"<%=link_to(image_tag(todo.check_fo_image, size: "135x135"), todo) %></div>
          <%= todo.name %><br> 
          <%= link_to 'Delete from list', "/delete_from_list/#{todo.name}"  %><br>
          <%= link_to 'Move to Completed', "/complete_todo/#{todo.id}" %>
       <% end %>
      </div> <!-- div end for col -->
      <% end %>
    </div> <!-- div end for row -->
  </div> <!-- div end for container -->
    
  <br>


 <hr>

<h2>COMPLETED</h2>
<br><br>
</div> <!--- end of mylist container affect h2 -->

<div class="container">
 <div class="row">
  <% @completed_todo_array.each do |user_todo| %>
    <div class="col-md-3">
      <% if Todo.find(user_todo.todo_id).image %>
        <a href="/todos/<%=Todo.find(user_todo.todo_id).id %>"><div id="completed_image_tag"><img src="<%= Todo.find(user_todo.todo_id).image %>" height="135"></a></div>
      <% else %>
        <a href="/todos/<%= Todo.find(user_todo.todo_id).id%>"><div id="completed_image_tag"><%=image_tag Todo.find(user_todo.todo_id).new_image, size: "135x135" %></div></a>
      <% end %>
        <%= Todo.find(user_todo.todo_id).name %> 
        <%= link_to 'Delete from list', "/delete_from_list/#{Todo.find(user_todo.todo_id).name}" %>
    </div> <!-- div end for col -->
  <% end %>
  </div> <!-- div end for row -->
</div> <!-- div end for container -->
  <br>
  <br>
  <br>
