<br><br><br>

<p id='notice'>
   <%=flash[:notice]%>
   </p>

<%=  flash[:notice] %><br><br>
<%= 'No items have been added to your list' if @my_todos.empty?  %>

Incomplete:
<br><br>

<% @my_todos.each do |todo| %>
  <% if todo.user_todos.where(:user_id => current_user.id).first.finished == false %>
  <%= todo.name %>     <%= link_to 'Delete from list', "/delete_from_list/#{todo.name}"  %>
  <%= link_to 'Move to Completed', "/complete_todo/#{todo.id}" %>
<% end %>
<br>
<% end %>


<hr>

You've completed:
<br><br>

<% @completed_todo_array.each do |user_todo| %>
  <%= Todo.find(user_todo.todo_id).name %> <%= link_to 'Delete from list', "/delete_from_list/#{Todo.find(user_todo.todo_id).name}"  %>
	<%= Todo.find(user_todo.todo_id).image %> 
<br>

<% end %>


