<br>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<script>

var num_completed = <%= @num_completed %>;
var num_incomplete = <%= @num_incomplete %>;

$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Todos',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Todos',
            innerSize: '50%',
            data: [
              ['',       0],
            ['',       0],
                ['Completed',   num_completed],
                ['Incomplete',       num_incomplete]
            ]
        }]
    });
});



</script>
<div id="my_list">
  <p id='notice'>
     <%=flash[:notice]%>
     </p>

  <%=  flash[:notice] %><br><br>
  <%= 'No items have been added to your list' if @my_todos.empty?  %>
  <br>
  <hr>
  <h2>INCOMPLETE</h2>
  <br><br>

  <% @my_todos.each do |todo| %>
    <% if todo.user_todos.where(:user_id => current_user.id).first.finished == false %>
      <% if todo.image != nil %>
        <div id="list_image"><a href="/todos/<%= todo.id %>"></a></div>
            
            <div id="image_tag"><img src="<%= todo.image %>" height="135" ></a></div>

      <% else %>
        <a href="/todos/<%= todo.id %>"><div id="image_tag"><%= image_tag todo.new_image, size: "135x135" %></div></a>


      <% end %>
    <%= todo.name %><br> 
    <%= link_to '<button type="button">Delete from list</button>'.html_safe, "/delete_from_list/#{todo.name}"  %><br>
    <%= link_to '<button type="button">Move to Completed</button>'.html_safe, "/complete_todo/#{todo.id}" %>
   
  <% end %>
  <br>
  <% end %>


  <hr>

  <h2>COMPLETED</h2>
  <br><br>

  <% @completed_todo_array.each do |user_todo| %>
    <% if Todo.find(user_todo.todo_id).image %>
      <div id="completed_list_image"><a href="/todos/<%= Todo.find(user_todo.todo_id).id %>">
          <div id="completed_image_tag"><img src="<%= Todo.find(user_todo.todo_id).image %>" height="135"></a></div>
    <% else %>
      <a href="/todos/<%= Todo.find(user_todo.todo_id).id %>"><%= image_tag Todo.find(user_todo.todo_id).new_image, size: "135x135" %></div></a>
    <% end %>
      <%= Todo.find(user_todo.todo_id).name %><br> 
      <%= link_to '<button type="button">Delete from list</button>'.html_safe, "/delete_from_list/#{Todo.find(user_todo.todo_id).name}"  %><br>
  <br>
  <% end %>
<br>
<br>
<br>





</div>


