<br><br>
<br><br>
<br><br>
<br><br>

<% if @results.empty? %>
  this is the results.html page. <br>
     <h4> Create New Todo </h4>
   --------------------------
   <%= form_for @todo, :url => todos_path, :html => { :multipart => true } do |form| %>
   <%= form.label "name" %>
   <%= form.text_field :name, {:value => params['name'], :size => 60 }  %><br>
   <%= form.label "Description" %><br>
   <%= form.text_area :description %><br>
   <%= form.file_field :new_image %>  
   <%= form.submit "Create Todo" %>
   <% end %><br>
 <% end %>


<% @results.each do |result| %>
  
  <% unless result.image  %>
    <a href="/todos/<%= result.id %>"><%= image_tag result.new_image, size: "250x250" %></a>
  <% else %>
	 <a href="/todos/<%= result.id %>"><img src="<%= result.image %>" height="250" ></a>
  <% end %>
  <%= result.name %> [ <%= link_to 'Users', "/users_with_this_todo/#{result.id}"  %>
  <%=  Todo.find_by(:name => result.name).users.count %>] <br>
  <%= link_to '<button type="button">Events</button>'.html_safe, "/todos/#{result.id}/events/new"  %> | 


  <% if current_user.todos.include? Todo.find_by(:name => result.name) %>
    <%= link_to '<button type="button">Delete from list</button>'.html_safe, "/delete_from_list/#{result.name}"  %>

  <% else %>
    <%= link_to '<button type="button">Add to list</button>'.html_safe, "/add_to_list/#{result.name}"  %>
  <% end %>
  
  
  <br><br><br><br>
<% end %>

