<br><br>
<br><br>
<br><br>
<br><br>


this is the results.html page. <br>

<h4> Create New Todo </h4>
--------------------------
<%= form_for @todo do |f| %>
  <%= f.label "name" %>
  <%= f.text_field :name %><br>
  <%= f.label "Description" %><br>
  <%= f.text_area :description %><br>
  <%= f.submit "Create Todo" %>
<% end %><br>



<% @results.each do |result| %>
  <%= result.name %> [ <%= link_to 'Users', "/users_with_this_todo/#{result.name}"  %>
  <%=  Todo.find_by(:name => result.name).users.count %>] <br>
  <%= link_to 'Events', "/events/#{result.name}"  %> | 


  <% if current_user.todos.include? Todo.find_by(:name => result.name) %>
    <%= link_to 'Delete from list', "/delete_from_list/#{result.name}"  %>

  <% else %>
    <%= link_to 'Add to list', "/add_to_list/#{result.name}"  %>
  <% end %>
  
  
  
  
  <br><br>
<% end %>

