
<br>
<br>
<br>

<h1><%= @todo.name %></h1><br>
<% unless @todo.image  %>
    <a href="/todos/<%= @todo.id %>"><%= image_tag @todo.new_image, size: "250x250" %></a>
  <% else %>
		<a href="/todos/<%= @todo.id %>"><img src="<%= @todo.image %>" ></a><br>
  <% end %>



<h4>Users With This Item In Their Bucklist: &nbsp; <%= @todo.users.count %></h4>

	<h4>Deals Related to This Event: </h4>
	<% CouponGiver.distribute_deals(TravelDeals, @todo.name).each do |deal|%>
	
	<a href=<%= "#{deal.url}" %>><%= deal.title%></a><br>
	<% end %>

<br>
<br>
<br>
<br>
<br>
<br>