
<br>
<br>
<br>

<h1><%= @todo.name %></h1><br>
<% unless @todo.image  %>
    <a href="/todos/<%= @todo.id %>"><%= image_tag @todo.new_image, size: "250x250" %></a>
  <% else %>
		<a href="/todos/<%= @todo.id %>"><img src="<%= @todo.image %>" ></a><br>
  <% end %>
	<a href="/todos/<%= @todo.id %>/events">Meetings for this Event: </a>[<%= @todo.events.count %>]<br>
<% if current_user.todos.include? Todo.find_by(:name => @todo.name) %>
    <%= link_to 'Delete from list', "/delete_from_list/#{@todo.name}"  %>
  <% else %>
    <%= link_to 'Add to list', "/add_to_list/#{@todo.name}"  %>
  <% end %>

  <h4>Users With This Event In Their Bucklist: &nbsp; <%= @todo.users.count %></h4>
<% unless CouponGiver.distribute_deals(TravelDeals, @todo.name).empty? %>
	<h4>Deals Related to This Event: </h4>
	<% CouponGiver.distribute_deals(TravelDeals, @todo.name).reverse.each do |deal|%>
    <a href=<%= "#{deal.url}" %>><img src= "<%=deal.img %>", width=90<D-r>></a>
	<a href=<%= "#{deal.url}" %>><%= deal.title %></a><br>
	<% end %>

<% end %>
<% unless @comments.empty? %>
<h4> Users Comments: </h4>
<ul>
	<%  @comments.each do |comment| %>
		<li><h5><img src="<%=comment.user.user_img_url %>" style="padding-right: 15px"><%= "#{comment.user.first_name}: '#{comment.content}'" %></h5></li>
	<% end %>
	</ul>
<% end %>

<%= render 'partials/comment_form' %>
<br>
<br>
<br>
<br>
<br>
<br>
