<br>
<br>
<br>
<br>

	<h1><a href="<%= "/todos/#{@todo.id}" %>"><%= @todo.name %></a></h1>
	<br><br>
<% @comments.each do |comment| %>
  <%= comment.content %> by 
   <img src="<%= User.find(comment.user_id).user_img_url %>" height="30" width="45"><%= link_to User.find(comment.user_id).name, "/see_user_list/#{User.find(comment.user_id).id}"  %>

  <%=time_ago_in_words(Time.at(comment.created_at))%> ago 
                 
  
  <br>
<% end %>
<% unless current_user.name == "guest" %>
<%= render 'partials/comment_form' %>
<% end %>
<% if @users_with_todo.empty? %>
	<%= "No Users With this Bucketlist Item" %>
<% else %>
	<h4>Users With This in Their Bucklist:</h4>
	<% @users_with_todo.each do |user| %>
	  <img src="<%= user.user_img_url %>" height="45" width="60"> <%= link_to  user.name, "/see_user_list/#{user.id}"  %><br>
	<% end %>
<% end %>
